# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl


.venv/
env/
venv/

# macOS and system files
.DS_Store
Thumbs.db

# Editor/project configs
.vscode/
.idea/

# Git
.git/
.gitignore

# Output & logs
outputs/
logs/

# Env files
.env
.env.*
